@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1364px;
  background-color: $bgColor;
  margin: auto;
  padding: 0px $mainPadding;
  height: 100%;
}
header {
  height: 100px;
  max-width: 1160px;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    > li {
      margin-right: 40px;
      a {
        text-decoration: none;
        @include fontBtnAndNav($sizeFontSmallText, $mFontColor);
      }
      a:hover {
        color: $grayFontColor;
      }
    }

    .logo a {
      @include fontHeader($sizeFontHeader, $mFontColor);
      sup {
        @include fontHeader($sizeFontHeader / 2.5, $mFontColor);
      }
    }
  }
}
.messengers {
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    li {
      width: 35px;
      height: 35px;
      margin-right: 12px;
      background-color: $mFontColor;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: $bgColor;
        height: 20px;
      }
    }
    li:last-of-type {
      margin-right: 0px;
    }
    li:hover {
      background-color: $bgColor;
      i {
        color: $mFontColor;
      }
    }
  }
}
.landing {
  display: flex;
  direction: row;
  align-items: center;
  margin-left: 30px;
  .landing__title {
    @include fontHeader($sizeFontHeader * 1.3, $mFontColor, 400);
    margin: 45px 0px;
  }
  .lahding__subtitle {
    max-width: 340px;
    @include fontText($sizeFontSmallText, $mFontColor, 400);
    margin-bottom: 115px;
  }
  .landing__button {
    display: inline-block;
    background-color: $additionColor;
    a {
      display: inline-block;
      @include fontBtnAndNav($sizeFontSmallText, $bgColor, 400);
      text-decoration: none;
      padding: 17px 50px 27px 50px;
    }
  }
  .landing__button:hover {
    transform: scale(105%);
  }
  .landing__wrapimg {
    max-width: 870px;
    max-height: 653px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.description {
  max-width: 1160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 115px 0px;
  .description-figurecaption-header1 {
    @include fontHeader($mainPadding, $mFontColor, 400);
    margin-left: 65px;
  }
  .description-figurecaption-header2 {
    @include fontHeader($mainPadding, $grayFontColor, 400);
    margin: 0px 0px 40px 65px;
  }
  .description-text-block {
    max-width: 580px;
    margin-left: 20px;
    .description-text-block-header {
      @include fontBtnAndNav($sizeFontTitle, $additionColor, 400);
      border-left: 5px solid currentColor;
      padding-left: 20px;
      margin-bottom: 32px;
    }
    .description-text-block-text {
      @include fontText($sizeFontSmallText, $mFontColor, 400);
      margin-bottom: 20px;
    }
  }
  .description-text-block-button {
    display: inline-block;
    border: 1px solid $additionColor;
    a {
      display: inline-block;
      padding: 10px 35px 16px 35px;
      @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
      text-decoration: none;
    }
  }
  .description-text-block-button:hover {
    transform: scale(105%);
  }
}
.artists {
  margin-bottom: 160px;
  .artists__header {
    height: 90px;
    margin-left: -1000px;
    margin-bottom: 120px;
    display: flex;
    h3 {
      padding: 0px 100px;
      @include fontHeader($sizeFontHeader * 2, $mFontColor, 400);
    }
  }
  .artists__block {
    max-width: 1160px;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    figure {
      margin: 0px 10px;
    }
    img {
      max-width: 245px;
      max-height: 245px;
    }
    figcaption {
      @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
      text-align: center;
      margin: 20px 0px 80px 0px;
    }
  }
} /* running streak */
.story {
  max-width: 1160px;
  max-height: 643px;
  margin-top: 120px;
  margin-bottom: 120px;
  .story__header {
    @include fontHeader($sizeFontHeader, $mFontColor, 400);
    text-align: center;
    margin-bottom: 60px;
    span {
      color: $grayFontColor;
    }
  }
  .story__block {
    max-height: 600px;
    display: flex;
    flex-direction: row;
    .story__menu {
      max-width: 285px;
      li {
        display: block;
        white-space: nowrap;
        list-style-type: none;
        @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
        padding: 25px 135px 30px 30px;
      }
      li:hover {
        background-color: $bgBlocksColor;
      }
    }
    .story__info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 60px;
      background-color: $bgBlocksColor;
      .story__image {
        img {
          max-width: 175px;
          max-height: 255px;
        }
      }
      .story__info__text {
        overflow-x: hidden;
        margin-left: 40px;
        padding-top: 5px;
        padding-right: 35px;
        h1 {
          @include fontBtnAndNav($sizeFontTitle, $additionColor, 400);
          border-left: 5px solid currentColor;
          padding-left: 20px;
          margin-bottom: 28px;
        }
        h3 {
          @include fontText($sizeFontSmallText, $mFontColor, 400);
        }
      }
    }
  }
}
.stringimage__wrap {
  max-width: 1444px;
  max-height: 240px;
  margin-left: -$mainPadding;
  margin-right: -$mainPadding;
  margin-bottom: 120px;
  img {
    width: 100%;
    height: auto;
  }
}
.roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  .roadmap__title {
    margin-bottom: 100px;
    @include fontHeader($sizeFontHeader, $mFontColor, 400);
  }
  .roadmap__block {
    max-width: 100%;
    border: 1px solid $additionColor;
    background-color: $bgBlocksColor;
    .roadmap__header {
      display: flex;
      flex-direction: row;
      padding: 12px;
      border-bottom: inherit;
      .roadmap__header__countbox {
        width: 45px;
        height: 45px;
        border: 1px solid $additionColor;
        display: flex;
        justify-content: center;
        align-items: center;
        @include fontBtnAndNav($sizeFontHeader / 1.5, $additionColor, 400);
      }
      .roadmap__header__title {
        margin: 5px 0px 0px 15px;
        h5 {
          margin-bottom: 5px;
          @include fontBtnAndNav($sizeFontVerySmallText, $additionColor, 400);
        }
        h3 {
          @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
        }
      }
    }
    .roadmap__info {
      max-width: 100%;
      @include fontText($sizeFontVerySmallText, $mFontColor, 400);
      padding: 30px 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 540px;
      .roadmap__info__text {
        max-width: 280px;
        :nth-child(1) {
          margin: 0px 0px 25px 25px;
        }
        a {
          margin-left: 5px;
          text-decoration: none;
          @include fontBtnAndNav($sizeFontVerySmallText, $additionColor, 400);
        }
      }
      img {
        max-width: 130px;
        min-height: 130px;
      }
    }
  }
  .roadmap__divider {
    height: 50px;
    border: 1px solid $additionColor;
    margin: 50px 0px;
  }
}
.partners {
  max-width: 1160px;
  max-height: 100%;
  margin: 250px 0px;
  .partners__title {
    @include fontBtnAndNav($sizeFontSmallText, $additionColor, 400);
    text-align: center;
    margin-bottom: 60px;
  }
  .partners__box {
    max-height: 100%;
    @include fontHeader($sizeFontHeader / 1.3, $mFontColor, 400);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -85px;
    h3 {
      margin-bottom: 90px;
      margin-right: 85px;
    }
  }
}
.faq {
  max-width: 1160px;
  max-height: 545px;
  display: flex;
  justify-content: space-between;
  .faq__header {
    max-width: 360px;
    margin-right: 20px;
    @include fontHeader($sizeFontHeader, $mFontColor, 400);
    img {
      max-width: 360px;
      max-height: 360px;
      margin-top: 50px;
    }
    :nth-child(2) {
      color: $grayFontColor;
    }
  }
  .faq__questions {
    max-width: 580px;
    .faq__list {
      list-style-type: none;
      li {
        padding: 24px 30px;
        background-color: $bgBlocksColor;
      }
      .faq__question__header {
        display: flex;
        justify-content: space-between;
        h3 {
          margin-right: 20px;
          @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
        }
        i {
          color: $mFontColor;
        }
      }
      .faq__question__description {
        @include fontText($sizeFontVerySmallText, $mFontColor, 400);
        margin-top: 24px;
      }
    }
  }
}
.team {
  &__title {
    display: flex;
    margin: 95px 0px 130px -600px;
    h3 {
      padding: 0px 100px;
      @include fontHeader($sizeFontHeader * 2, $mFontColor, 400);
    }
  }
  &__container {
    max-width: 1160px;
    max-height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    .team__person {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px 5px;
      img {
        max-width: 320px;
        max-height: 320px;
      }
      .team__person__name {
        margin: 18px 0px;
        @include fontBtnAndNav($sizeFontTitle, $mFontColor, 400);
      }
      .team__person__career {
        margin-bottom: 18px;
        @include fontBtnAndNav($sizeFontVerySmallText, $additionColor, 400);
      }
      .team__person__description {
        max-width: 238px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
        @include fontText($sizeFontVerySmallText, $mFontColor, 400);
      }
    }
  }
}
.join {
  margin: 250px 0px 150px 0px;
  &__container {
    margin: 0px auto;
    max-width: 1160px;
    max-height: 590px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__header {
    max-width: 350px;
    max-height: 350px;
    .join__title {
      @include fontHeader($sizeFontHeader, $mFontColor, 400);
      margin: 30px 0px;
      :last-of-type {
        color: $additionColor;
      }
    }
    .join__subtitle {
      margin-bottom: 30px;
      @include fontText($sizeFontSmallText, $mFontColor, 400);
    }
    .join__btn {
      display: inline-block;
      text-decoration: none;
      @include fontBtnAndNav($sizeFontSmallText, $bgColor, 400);
      padding: 8px 30px;
      background-color: $additionColor;
      i {
        margin-right: 8px;
      }
    }
    .join__btn:hover {
      transform: scale(105%);
    }
  }
  &__imgwrap {
    max-width: 584px;
    max-height: 584px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
footer {
  margin: 0px (-$mainPadding);
  max-width: 100%;
  max-height: 198px;
  background-color: $bdFooterColor;
  padding: 100px 40px;
  .container {
    margin: 0px auto;
    max-width: 1160px;
    height: 137px;
    display: flex;
    justify-content: space-between;
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > li {
        margin-right: 20px;
        a {
          text-decoration: none;
        }
        a:hover {
          color: $grayFontColor;
        }
      }
    }
    .col1 {
      display: flex;
      a {
        @include fontHeader($sizeFontTitle, $mFontColor, 400);
      }
      sup {
        @include fontHeader($sizeFontTitle / 2.5, $mFontColor, 400);
      }
      li:last-child {
        @include fontBtnAndNav($sizeFontVerySmallText, $mFontColor, 400);
      }
    }
    .col2,
    .col3 {
      display: flex;
      a {
        @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
      }
    }
    .col4 {
      ul > li {
        margin-bottom: 30px;
      }
      @include fontBtnAndNav($sizeFontVerySmallText, $mFontColor, 400);
    }
    .col5 > ul {
      li {
        margin-right: 12px;
      }
      li:hover {
        background-color: $bdFooterColor;
      }
      flex-direction: row;
    }
  }
}
@media screen and (max-width: 1200px) {
  $sizeFontHeader: 28px;
  $sizeFontTitle: 15px;
  $sizeFontSmallText: 12px;
  $sizeFontVerySmallText: 7px;
  $mainPadding: 30px;

  body {
    padding: 0px $mainPadding;
  }
  header {
    height: 70px;
    nav ul {
      > li {
        a {
          @include fontBtnAndNav($sizeFontSmallText, $mFontColor);
        }
      }
      .logo a {
        @include fontHeader($sizeFontHeader, $mFontColor);
        sup {
          @include fontHeader($sizeFontHeader / 2.5, $mFontColor);
        }
      }
    }
  }
  .messengers {
    ul {
      li {
        width: 30px;
        height: 30px;
        i {
          font-size: 14px;
        }
      }
    }
  }
  .landing {
    .landing__title {
      @include fontHeader($sizeFontHeader * 1.3, $mFontColor, 400);
      margin: 30px 0px;
    }
    .lahding__subtitle {
      @include fontText($sizeFontSmallText, $mFontColor, 400);
      margin-bottom: 80px;
    }
    .landing__button {
      a {
        display: inline-block;
        @include fontBtnAndNav($sizeFontSmallText, $bgColor, 400);
        padding: 12px 35px 19px 35px;
      }
    }
  }
  .description {
    margin: 80px 0px;
    img {
      max-width: 250px;
    }
    .description-figurecaption-header1 {
      @include fontHeader($mainPadding, $mFontColor, 400);
      margin-left: 45px;
    }
    .description-figurecaption-header2 {
      @include fontHeader($mainPadding, $grayFontColor, 400);
      margin: 0px 0px 28px 45px;
    }
    .description-text-block {
      .description-text-block-header {
        @include fontBtnAndNav($sizeFontTitle, $additionColor, 400);
      }
      .description-text-block-text {
        @include fontText($sizeFontSmallText, $mFontColor, 400);
      }
    }
    .description-text-block-button {
      padding: 7px 25px 12px 25px;
      a {
        @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
      }
    }
  }
  .artists {
    margin-bottom: 115px;
    .artists__header {
      height: 65px;
      margin-bottom: 85px;
      h3 {
        padding: 0px 700px;
        @include fontHeader($sizeFontHeader * 2, $mFontColor, 400);
      }
    }
    .artists__block {
      figure {
        margin: 0px 10px;
      }
      img {
        max-width: 200px;
        max-height: 200px;
      }
      figcaption {
        @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
        margin: 14px 0px 55px 0px;
      }
    }
  }
  .story {
    max-width: 800px;
    margin: 85px 0px;
    .story__header {
      @include fontHeader($sizeFontHeader, $mFontColor, 400);
      margin-bottom: 45px;
    }
    .story__block {
      max-height: 400px;
      .story__menu {
        max-width: 200px;
        li {
          @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
          padding: 18px 95px 20px 20px;
        }
      }
      .story__info {
        padding: 40px;

        .story__image {
          img {
            max-width: 125px;
            max-height: auto;
          }
        }
        .story__info__text {
          h1 {
            @include fontBtnAndNav($sizeFontTitle, $additionColor, 400);
            margin-bottom: 20px;
          }
          h3 {
            @include fontText($sizeFontSmallText, $mFontColor, 400);
          }
        }
      }
    }
  }
  .roadmap {
    .roadmap__title {
      margin-bottom: 70px;
      @include fontHeader($sizeFontHeader, $mFontColor, 400);
    }
    .roadmap__block {
      .roadmap__header {
        padding: 12px;
        .roadmap__header__countbox {
          width: 42px;
          height: 42px;
          @include fontBtnAndNav($sizeFontHeader / 1.5, $additionColor, 400);
        }
        .roadmap__header__title {
          margin: 5px 0px 0px 15px;
          h5 {
            @include fontBtnAndNav($sizeFontVerySmallText, $additionColor, 400);
          }
          h3 {
            @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
          }
        }
      }
      .roadmap__info {
        max-width: 400px;
        @include fontText($sizeFontVerySmallText, $mFontColor, 400);
        padding: 21px 9px;
        .roadmap__info__text {
          max-width: 200px;
          :nth-child(1) {
            margin: 0px 0px 18px 18px;
          }
          a {
            @include fontBtnAndNav($sizeFontVerySmallText, $additionColor, 400);
          }
        }
        img {
          max-width: 90px;
          min-height: 90px;
        }
      }
    }
    .roadmap__divider {
      height: 35px;
      margin: 35px 0px;
    }
  }
  .partners {
    margin: 175px 0px;
    .partners__title {
      @include fontBtnAndNav($sizeFontSmallText, $additionColor, 400);
      margin-bottom: 45px;
    }
    .partners__box {
      @include fontHeader($sizeFontHeader / 1.3, $mFontColor, 400);
      margin-right: -45px;
      h3 {
        margin: 0px 65px 65px 0px;
      }
    }
  }
  .faq {
    max-width: 800px;
    .faq__header {
      max-width: 360px;
      @include fontHeader($sizeFontHeader, $mFontColor, 400);
      img {
        max-width: 250px;
        margin-top: 40px;
      }
    }
    .faq__questions {
      max-width: 400px;
      .faq__list {
        list-style-type: none;
        li {
          padding: 17px 21px;
        }
        .faq__question__header {
          h3 {
            @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
          }
          i {
            font-size: 13px;
          }
        }
        .faq__question__description {
          @include fontText($sizeFontVerySmallText, $mFontColor, 400);
          margin-top: 18px;
        }
      }
    }
  }
  .team {
    &__title {
      margin: 65px 0px 90px -400px;
      h3 {
        padding: 0px 70px;
        @include fontHeader($sizeFontHeader * 2, $mFontColor, 400);
      }
    }
    &__container {
      .team__person {
        img {
          max-width: 225px;
          max-height: 225px;
        }
        .team__person__name {
          margin: 13px 0px;
          @include fontBtnAndNav($sizeFontTitle, $mFontColor, 400);
        }
        .team__person__career {
          margin-bottom: 13px;
          @include fontBtnAndNav($sizeFontVerySmallText, $additionColor, 400);
        }
        .team__person__description {
          max-width: 170px;
          margin: 14px 0px;
          text-align: center;
          @include fontText($sizeFontVerySmallText, $mFontColor, 400);
        }
      }
    }
  }
  .join {
    margin: 175px 0px 100px 0px;
    &__container {
      max-width: 800px;
    }
    &__header {
      max-width: 245px;
      max-height: 245px;
      .join__title {
        @include fontHeader($sizeFontHeader, $mFontColor, 400);
        margin: 21px 0px;
      }
      .join__subtitle {
        margin-bottom: 21px;
        @include fontText($sizeFontSmallText, $mFontColor, 400);
      }
      .join__btn {
        @include fontBtnAndNav($sizeFontSmallText, $bgColor, 400);
        padding: 6px 21px;
        i {
          margin-right: 6px;
        }
      }
    }
    &__imgwrap {
      max-width: 400px;
      max-height: 400px;
    }
  }
  footer {
    margin: 0px (-$mainPadding);
    padding: 70px 28px;
    .container {
      max-width: 800px;
      height: 95px;
      ul {
        > li {
          margin-right: 14px;
        }
      }
      .col1 {
        a {
          @include fontHeader($sizeFontTitle, $mFontColor, 400);
        }
        sup {
          @include fontHeader($sizeFontTitle / 2.5, $mFontColor, 400);
        }
        li:last-child {
          @include fontBtnAndNav($sizeFontVerySmallText, $mFontColor, 400);
        }
      }
      .col2,
      .col3 {
        a {
          @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
        }
      }
      .col4 {
        ul > li {
          margin-bottom: 21px;
        }
        @include fontBtnAndNav($sizeFontVerySmallText, $mFontColor, 400);
      }
      .col5 > ul {
        li {
          margin-right: 9px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  $sizeFontHeader: 20px;
  $sizeFontTitle: 11px;
  $sizeFontSmallText: 8px;
  $sizeFontVerySmallText: 5px;
  $mainPadding: 16px;

  body {
    padding: 0px $mainPadding;
  }
  header {
    height: 50px;
    nav ul {
      > li {
        margin-right: 15px;
        a {
          @include fontBtnAndNav($sizeFontSmallText, $mFontColor);
        }
      }
      .logo a {
        @include fontHeader($sizeFontHeader, $mFontColor);
        sup {
          @include fontHeader($sizeFontHeader / 2.5, $mFontColor);
        }
      }
    }
  }
  .messengers {
    ul {
      li {
        margin-right: 6px;
        width: 21px;
        height: 21px;
        i {
          font-size: 9px;
        }
      }
    }
  }
  .landing {
    .landing__title {
      @include fontHeader($sizeFontHeader * 1.3, $mFontColor, 400);
      margin: 21px 0px;
    }
    .lahding__subtitle {
      @include fontText($sizeFontSmallText, $mFontColor, 400);
      margin-bottom: 60px;
    }
    .landing__button {
      a {
        display: inline-block;
        padding: 9px 25px 14px 25px;
        @include fontBtnAndNav($sizeFontSmallText, $bgColor, 400);
      }
    }
  }
  .description {
    margin: 56px 0px;
    img {
      max-width: 175px;
    }
    .description-figurecaption-header1 {
      @include fontHeader($mainPadding, $mFontColor, 400);
      margin-left: 30px;
    }
    .description-figurecaption-header2 {
      @include fontHeader($mainPadding, $grayFontColor, 400);
      margin: 0px 0px 20px 30px;
    }
    .description-text-block {
      .description-text-block-header {
        @include fontBtnAndNav($sizeFontTitle, $additionColor, 400);
      }
      .description-text-block-text {
        @include fontText($sizeFontSmallText, $mFontColor, 400);
      }
    }
    .description-text-block-button {
      padding: 5px 18px 9px 18px;
      a {
        @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
      }
    }
  }
  .artists {
    margin-bottom: 80px;
    .artists__header {
      height: 45px;
      margin-bottom: 60px;
      h3 {
        padding: 0px 50px;
        @include fontHeader($sizeFontHeader * 2, $mFontColor, 400);
      }
    }
    .artists__block {
      figure {
        margin: 0px 7px;
      }
      img {
        max-width: 150px;
        max-height: 150px;
      }
      figcaption {
        @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
        margin: 10px 0px 38px 0px;
      }
    }
  }
  .story {
    max-width: 450px;
    margin: 60px 0px;
    .story__header {
      @include fontHeader($sizeFontHeader, $mFontColor, 400);
      margin-bottom: 32px;
    }
    .story__block {
      max-height: 280px;
      .story__menu {
        max-width: 180px;
        li {
          @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
          padding: 13px 67px 14px 14px;
        }
      }
      .story__info {
        padding: 28px;

        .story__image {
          display: none;
        }
        .story__info__text {
          margin-left: 28px;
          padding-top: 4px;
          padding-right: 25px;
          h1 {
            @include fontBtnAndNav($sizeFontTitle, $additionColor, 400);
            margin-bottom: 14px;
            padding-left: 15px;
          }
          h3 {
            @include fontText($sizeFontSmallText, $mFontColor, 400);
          }
        }
      }
    }
  }
  .roadmap {
    .roadmap__title {
      margin-bottom: 50px;
      @include fontHeader($sizeFontHeader, $mFontColor, 400);
    }
    .roadmap__block {
      .roadmap__header {
        padding: 9px;
        .roadmap__header__countbox {
          width: 30px;
          height: 30px;
          @include fontBtnAndNav($sizeFontHeader / 1.5, $additionColor, 400);
        }
        .roadmap__header__title {
          margin: 4px 0px 0px 11px;
          h5 {
            @include fontBtnAndNav($sizeFontVerySmallText, $additionColor, 400);
          }
          h3 {
            @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
          }
        }
      }
      .roadmap__info {
        max-width: 280px;
        @include fontText($sizeFontVerySmallText, $mFontColor, 400);
        padding: 15px 7px;
        .roadmap__info__text {
          max-width: 140px;
          :nth-child(1) {
            margin: 0px 0px 13px 13px;
          }
          a {
            @include fontBtnAndNav($sizeFontVerySmallText, $additionColor, 400);
          }
        }
        img {
          max-width: 65px;
          min-height: 65px;
        }
      }
    }
    .roadmap__divider {
      height: 25px;
      margin: 25px 0px;
    }
  }
  .partners {
    margin: 125px 0px;
    .partners__title {
      @include fontBtnAndNav($sizeFontSmallText, $additionColor, 400);
      margin-bottom: 35px;
    }
    .partners__box {
      @include fontHeader($sizeFontHeader / 1.3, $mFontColor, 400);
      margin-right: -35px;
      h3 {
        margin: 0px 45px 45px 0px;
      }
    }
  }
  .faq {
    max-width: 560px;
    .faq__header {
      max-width: 250px;
      @include fontHeader($sizeFontHeader, $mFontColor, 400);
      img {
        max-width: 175px;
        margin-top: 28px;
      }
    }
    .faq__questions {
      max-width: 280px;
      .faq__list {
        list-style-type: none;
        li {
          padding: 12px 18px;
        }
        .faq__question__header {
          h3 {
            @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
          }
          i {
            font-size: 9px;
          }
        }
        .faq__question__description {
          @include fontText($sizeFontVerySmallText, $mFontColor, 400);
          margin-top: 13px;
        }
      }
    }
  }
  .team {
    &__title {
      margin: 45px 0px 65px 250px;
      h3 {
        padding: 0px 50px;
        @include fontHeader($sizeFontHeader * 2, $mFontColor, 400);
      }
    }
    &__container {
     
      .team__person {
    

        img {
          max-width: 160px;
          max-height: 160px;
        }
        .team__person__name {
          margin: 9px 0px;
          @include fontBtnAndNav($sizeFontTitle, $mFontColor, 400);
        }
        .team__person__career {
          margin-bottom: 9px;
          @include fontBtnAndNav($sizeFontVerySmallText, $additionColor, 400);
        }
        .team__person__description {
          max-width: 120px;
          margin: 10px 0px;
          text-align: center;
          @include fontText($sizeFontVerySmallText, $mFontColor, 400);
        }
      }
    }
  }
  .join {
    margin: 123px 0px 70px 0px;
    &__container {
      max-width: 560px;
    }
    &__header {
      max-width: 175px;
      max-height: 175px;
      .join__title {
        @include fontHeader($sizeFontHeader, $mFontColor, 400);
        margin: 15px 0px;
      }
      .join__subtitle {
        margin-bottom: 15px;
        @include fontText($sizeFontSmallText, $mFontColor, 400);
      }
      .join__btn {
        @include fontBtnAndNav($sizeFontSmallText, $bgColor, 400);
        padding: 4px 15px;
        i {
          margin-right: 4px;
        }
      }
    }
    &__imgwrap {
      max-width: 280px;
      max-height: 280px;
    }
  }
  footer {
    margin: 0px (-$mainPadding);
    padding: 50px 20px;
    .container {
      max-width: 560px;
      height: 70px;
      ul {
        > li {
          margin-right: 10px;
        }
      }
      .col1 {
        a {
          @include fontHeader($sizeFontTitle, $mFontColor, 400);
        }
        sup {
          @include fontHeader($sizeFontTitle / 2.5, $mFontColor, 400);
        }
        li:last-child {
          @include fontBtnAndNav($sizeFontVerySmallText, $mFontColor, 400);
        }
      }
      .col2,
      .col3 {
        a {
          @include fontBtnAndNav($sizeFontSmallText, $mFontColor, 400);
        }
      }
      .col4 {
        ul > li {
          margin-bottom: 15px;
        }
        @include fontBtnAndNav($sizeFontVerySmallText, $mFontColor, 400);
      }
      .col5 > ul {
        li {
          margin-right: 7px;
        }
      }
    }
  }
}
.hide {
  display: none !important;
}
.rotate180 {
  transform: rotate(180deg);
}
.activate__story {
  color: $additionColor !important;
  background-color: $bgBlocksColor;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
